html, body {
    height: 100%;
    width: 100%;
    font: 10pt sans-serif;
    color: #2e3436;
}

h1 {
    font-size: 1.15em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1.05em;
}

body {
    display: flex;
    align-items: stretch;
    margin: 0;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 14em;
    background-color: #eeeeec;
    border: solid #d3d7cf;
    border-width: 0 1px 0 0;
}

#sidebar-logo {
    display: block;
    margin: 8px auto 8px auto;
    height: 2em;
    text-align: center;
}

#sidebar-content {
    flex: 1 0 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#sidebar-content > * {
    margin: 4px;
}

#sidebar-content li {
    cursor: pointer;
}

.sidebar-ref-selected {
    color: #3465a4;
}

#main {
    flex: 1 0 0;
    height: 100%;
}

.branch-current {
    font-weight: bold;
}

#history-view {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

#log-view {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #d3d7cf;
}

.log-entry {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #d3d7cf;
    padding: 3px 6px 3px 6px;
}

.log-entry-selected {
    background-color: #729fcf;
}

.log-entry:last-child {
    border-bottom-width: 1px;
}

.log-entry-header {
    display: flex;
    align-items: baseline;
    font-size: 9pt;
    color: #555753;
    padding-bottom: 3px;
}

.log-entry-name {
    color: inherit;
    font-weight: bold;
    font-style: italic;
    text-decoration: initial;
}

.log-entry-date {
    margin-left: auto;
}

.log-entry-hash {
    padding-left: 0.5em;
    display: inline;
    font-weight: bold;
    margin: 0 0 0 0;
}

.log-entry-message {
    margin-left: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#commit-view {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.diff-view {
    height: 100%;
    width: 100%;
    display: table;
}

.diff-view-line {
    margin: 0;
}

.diff-line-header {
    font-weight: bold;
    background-color: #eeeeec;
}

.diff-line-header.diff-line-add {
    background-color: #eeeeec;
    color: #4e9a06;
}

.diff-line-header.diff-line-del {
    background-color: #eeeeec;
    color: #a40000;
}

.diff-line-header.diff-line-offset {
    background-color: #eeeeec;
    color: #5c3566;
}

.diff-line-add {
    background-color: #8ae234;
}

.diff-line-del {
    background-color: #ef2929;
}

.diff-line-offset {
    background-color: #ad7Fa8;
}

#workspace-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

#workspace-diff-view {
    flex: 2 0 0;
}

#workspace-editor {
    flex: 1 0 0;
    display: flex;
    align-items: stretch;
    border: solid #d3d7cf;
    border-width: 1px 0 0 0;
}

.workspace-editor-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.workspace-editor-box p {
    margin: 0;
    padding: 0.5em;
    background-color: #eeeeec;
    border: solid #d3d7cf;
    border-width: 0 0 1px 0;
}

#working-copy-view {
    flex: 2 0 0;
}

#commit-message-view {
    flex: 3 0 0;
    border: solid #d3d7cf;
    border-width: 0 1px 0 1px;
}

#commit-message-textarea {
    flex: 1 0 0;
    resize: none;
    margin: 0;
    border: 0;
    padding: 0;
}

#staging-area-view {
    flex: 2 0 0;
}

.file-list {
    flex: 1 0 0;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.file-list li {
    list-style: none;
    margin: 0;
    padding: 0.2em;
}