// Theme
@import "variables.less";

@light_gray:    #f0f0f0;
@medium_gray:   #d0d0d0;
@dark_gray:     #313131;
@light_blue:    #8ad5f0;
@medium_blue:   #33b5e5;
@dark_blue:     #0099cc;
@light_violet:  #d6adeb;
@medium_violet: #aa66cc;
@dark_violet:   #9933cc;
@light_green:   #c5e26d;
@medium_green:  #99cc00;
@dark_green:    #669900;
@light_orange:  #ffd980;
@medium_orange: #ffbb33;
@dark_orange:   #FF8800;
@light_red:     #ff9494;
@medium_red:    #ff4444;
@dark_red:      #cc0000;

.no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    font: 10pt sans-serif;
    color: @dark_gray;
}

h1 {
    font-size: 1.15em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1.05em;
}

body {
    display: flex;
    align-items: stretch;
    margin: 0;
}

.button-box {
    .no-select();

    display: flex;
    text-align: center;
    background-color: @light_gray;
    cursor: default;

    a {
        flex: 1 0 0;
        padding: 0.3em;
    }

    a:hover {
        background-color: @medium_gray;
    }

    a:active, .button-box-current {
        background-color: @medium_blue;
    }
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 14em;
    background-color: @gray-dark;
    color: @gray-lighter;

    #sidebar-logo {
        display: block;
        margin: 8px auto 8px auto;
        height: 2em;
        text-align: center;
    }

    #sidebar-content {
        flex: 1 0 0;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        cursor: default;
        border-top: 1px solid darken(@dark_gray, 10%);

        > :first-child {
            border-top: 1px solid darken(@medium_gray, 50%);
        }

        h1:before {
            vertical-align: middle;
            margin: @padding-base-horizontal;
        }

        h1 {
            vertical-align: baseline;
            margin: 0.5em 0 0 0;
        }

        > div {
            h1 {
                cursor: pointer;
                padding: @padding-large-vertical 0;
            }
        }

        #sidebar-workspace h1:before {
            content: url(/img/computer.svg);
        }

        #sidebar-daemon h1:before {
            content: url(/img/daemon.svg);
        }

        #sidebar-branches h1:before {
            content: url(/img/branch.svg);
        }

        #sidebar-tags h1:before {
            content: url(/img/tag.svg);
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li:before {
            content: "\2022";
            margin: @padding-base-horizontal;
        }

        li {
            cursor: pointer;
            padding: @padding-base-vertical 0 @padding-base-vertical 1em;
        }

        .branch-current {
            font-weight: bold;
        }
    }
}

#main-view {
    flex: 1 0 0;
    height: 100%;
}

.selected {
    background-color: @brand-primary;
}

#history-view {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

#log-view {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    cursor: default;
    margin-bottom: 0;

    .log-entry:first-child {
        border-top-width: 0;
    }

    .log-entry {
        padding: @padding-small-vertical @padding-small-horizontal;

        header {
            display: flex;
            align-items: baseline;

            h6 {
                font-weight: bold;
                margin-top: 0;

                a {
                    color: inherit;
                }
            }

            .badge {
                font-family: @font-family-monospace;
            }

            .log-entry-date {
                margin-left: auto;
            }
        }
    }
}

#commit-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    #commit-view-header {
        border: solid @list-group-border;
        border-width: 0 0 1px 0;
    }

    #commit-view-content {
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

.diff-view-container {
    display: flex;
    flex: 1;

    .diff-view:last-child {
        border: solid @medium_gray;
        border-width: 0 0 0 1px;
    }
}

.diff-view {
    overflow: auto;
    flex: 1;

    .diff-view-lines {
        width: 100%;
        display: table;

        .diff-view-line {
            margin: 0;
            padding: 0 0.3em 0 0.3em;
            background-color: white;
            border: 0;
            line-height: inherit;
        }

        .diff-line-header {
            font-weight: bold;
            background-color: @light_gray;
        }

        .diff-line-phantom {
            background-color: @light_gray;
        }

        .diff-line-header.diff-line-add {
            background-color: @light_gray;
            color: @dark_green;
        }

        .diff-line-header.diff-line-del {
            background-color: @light_gray;
            color: @dark_red;
        }

        .diff-line-header.diff-line-offset {
            background-color: @light_gray;
            color: @dark_violet;
        }

        .diff-line-add {
            background-color: @light_green;
        }

        .diff-line-del {
            background-color: @light_red;
        }

        .diff-line-offset {
            background-color: @light_violet;
        }
    }
}

#tree-view {
    width: 100%;
    height: 100%;
    flex: 1 0 0;
    flex-direction: column;
    display: flex;

    .breadcrumb {
        margin-bottom: 0;
        border-bottom: 1px @list-group-border solid;
    }

    #tree-view-tree-content {
        width: 100%;
        height: 100%;
        overflow: auto;
        flex: 1 0 0;
    }

    #tree-view-blob-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        iframe {
            flex: 1 0 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .list-group-item {
        display: flex;
        cursor: pointer;
        border: 0;
        padding: @padding-small-vertical @padding-small-horizontal;
    }

    .list-group-item > :first-child {
        flex: 1 0 0;
    }

    .list-group-item > :last-child {
        width: 2em;
    }

    .tree-item-tree:before {
        content: url(/img/folder.svg);
        vertical-align: middle;
        margin: 0.3em;
    }

    .tree-item-blob:before {
        content: url(/img/file.svg);
        vertical-align: middle;
        margin: 0.3em;
    }

    .tree-item-symlink {
        font-style: italic;
    }
}

#workspace-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;

    #workspace-diff-view {
        display: flex;
        flex: 2 0 0;
        overflow: auto;
    }

    #workspace-editor {
        .no-select();

        flex: 1 0 0;
        display: flex;
        align-items: stretch;
        border: solid @medium_gray;
        border-width: 1px 0 0 0;
        cursor: default;

        .workspace-editor-box {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            div:first-child {
                margin: 0;
                padding: 0.3em;
                background-color: @light_gray;
                border: solid @medium_gray;
                border-width: 0 0 1px 0;

                span:first-child {
                    padding: 0.3em;
                }
            }
        }

        .workspace-editor-box-header {
            display: flex;
            align-items: stretch;

            span:first-child {
                flex: 1 0 0;
            }
        }

        #working-copy-view {
            flex: 2 0 0;
        }

        #commit-message-view {
            flex: 3 0 0;
            border: solid @medium_gray;
            border-width: 0 1px 0 1px;

            #commit-message-textarea {
                flex: 1 0 0;
                resize: none;
                margin: 0;
                border: 0;
                padding: 0.3em;
            }

            #commit-controls {
                display: flex;
                align-items: center;
                background-color: @light_gray;
                border: solid @medium_gray;
                border-width: 1px 0 0 0;
                padding: 0.3em;

                button {
                    margin-left: auto;
                }
            }
        }

        #staging-area-view {
            flex: 2 0 0;
        }
    }
}

.file-list {
    flex: 1 0 0;
    overflow: auto;
    .no-select();

    ul {
        display: table;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0.3em;
        cursor: default;
        white-space: nowrap;
    }
}
